@media screen and (max-width: 1024px) {
  .contacts_block {
    flex-direction: column;
  }
  .contacts_block .contacts_left {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 900px) {
  .footer__top {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .footer__menu {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 600px) {
  .footer__menu {
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 480px) {
  .footer__menu {
    gap: 3.125rem;
  }

  .contacts_block .contacts_left {
    grid-template-columns: 1fr;
    max-height: 600px;
  }
  .contacts_block .adress {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}