@import "fonts";

$backgound-body: #1B1B1F;
$font-color-grey: #999999;
$font-color-white: #fff;
$pink-color: #DE1483;
$black-color: #191919;
$dark-gray-color: #262626;
$color-grey: #4A4A4A;
$font-color-form: #838383;

@mixin fz($px_size) {
  font-size: ($px_size / 16) * 1rem;
}

@mixin lh($px_size) {
  line-height: ($px_size / 16) * 1rem;
}
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $backgound-body;
  color: $font-color-grey;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  @include fz(16);
  @include lh(20);
}
ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}
*::selection {
  background-color: $pink-color;
  color: $font-color-white;
}
img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button, a, input[type=button], input[type=reset], input[type=submit] {
  transition: all .2s ease;
  cursor: pointer;
}
h1 {
  @include fz(50);
  @include lh(60);
  color: $font-color-white;
  max-width: 650px;
}
h2 {
  @include fz(48);
  @include lh(58);
  color: $font-color-white;
  
}
h3 {
  color: $font-color-white;
  @include fz(40);
  @include lh(60);
  font-weight: 600;
}
h4 {
  color: $font-color-white;
  @include fz(24);
  @include lh(36);
  font-weight: 500;
}
.button {
  font-family: 'Roboto', sans-serif;
  @include fz(14);
  @include lh(21);
  font-weight: 600;
  border-radius: 6px;
  padding: 14px 20px;
}
.pink_text {
  color: $pink-color;
}
.pink_button {
  background-color: $pink-color;
  color: $font-color-white;
}
.black_button {
  background-color: $black-color;
  color: $font-color-white;
  &:hover {
    opacity: 0.7;
  }
}
// ::-webkit-scrollbar {
//   width: 7px;
// }
// ::-webkit-scrollbar-track {
//   border-radius: 5px;
//   background: rgba(#fff, .1);
// }
// ::-webkit-scrollbar-thumb {
//   background: rgba(#118db1, .7);
//   border-radius: 5px;
//   &:hover {
//       background: rgba(#118db1, 1);    
//   }
// }

.container {
  width: min(90%, 1200px);
  margin-inline: auto;
}

.page-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

@import "header";

main {
  flex-grow: 1;
  padding: 130px 0 50px;
}

// Baner section //
.baner_section {
  margin-bottom: 70px;
}
.baner {
  background-color: $pink-color;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  color: $font-color-white;
  .baner_right {
    max-height: 250px;
  }
  .baner_left {
    padding: 46px 0 26px 60px;
    h3 {
      margin-bottom: 10px;
    }
    p {
      max-width: 740px;
      margin-bottom: 28px;
    }
  }
}

// #Baner section //

// Form section //
.form_section {
  margin-bottom: 70px;
  display: flex;
}
.form_left {
  flex-basis: 50%;
}
.form_right {
  flex-basis: 50%;
}
.form_wrap {
  padding: 40px;
}
.form_title {
  display: flex;
  justify-content: space-between;
  h4 {
    margin-bottom: 140px;
  }
  .close_popup {
    padding: 12px;
    svg {
      display: none;
    }
  }
}
.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}
.ic1 {
  margin-top: 40px;
}
.ic2 {
  margin-top: 20px;
}
.input {
  background-color: $font-color-white;
  border: 0;
  box-sizing: border-box;
  
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}
.cut {
  background-color: $dark-gray-color;
  border-radius: 4px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
  display: none;
}
.cut.cut-short {
  width: 82px;
}
.cut.cut-long {
  width: 137px;
}
.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
  display: block;
}
.placeholder {
  color: $font-color-form;
  font-weight: 400;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}
.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}
.input:not(:placeholder-shown) ~ .placeholder {
  color: $font-color-white;
}
.input:focus ~ .placeholder {
  color: $pink-color;
}
.submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $pink-color;
  border: 0;
  color: $black-color;
  font-family: 'Roboto', sans-serif;
  @include fz(16);
  @include lh(24);
  font-weight: 600;
  cursor: pointer;
  padding: 12px 16px;
  height: 50px;
  margin: 92px 0 14px;
  text-align: center;
  width: 100%;
}
.submit:active {
  opacity: .7;
}
input.checkbox {
  display: none;
}
input.checkbox + label {
  position: relative;
  padding-left: 25px;
  @include fz(16);
  @include lh(19);
}
input.checkbox + label::before {
  content: '';
  display: inline-block;
  width: 19px;
  height: 19px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}
input.checkbox:checked + label::before{
  background-color: $pink-color;
}
input.checkbox:checked + label::after {
  content: '';
  display: inline-block;
  height: 6px;
  width: 10px;
  border-left: 3px solid #000;
  border-bottom: 3px solid #000;
  transform: rotate(-45deg);
  position: absolute;
  left: 5px;
  top: 5px;
}
// #Form section //



@import "footer";

@import "response";